:root {
  --background-color: #fff;
  --text-color: #272C35;
  --sec-text-color:#314261;
  --link-color: #647697;
}

html[data-theme='light'] {
  --background-color: #fff;
  --text-color: #272C35;
  --link-color: #647697;
}

html[data-theme='dark'] {
  --background-color: #212a2e;
  --text-color: #F7F8F8;
  --link-color: #828fff;
}

body {
  background: var(--background-color);
  color: var(--text-color);
}

a {
  color: var(--link-color);
}

a:hover {
  text-decoration: underline;
  filter: brightness(80%);
}

[data-theme='dark'] .form-control {
  background-color: rgba(0, 0, 0, 0.6);
  border-color: rgba(0, 0, 0, 0.6);
  color: var(--text-color) !important;
}

[data-theme='dark'] .form-control:focus {
  color: var(--text-color) !important;
}
[data-theme='light'] .d-block-light,
[data-theme='dark'] .d-block-dark {
    display: block !important;
}

.img-D{
  height: 100vh;
  z-index: -1;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
[data-theme='dark'] .img-D{
  background-image: url("../assets/img/dark-bg.svg");
  
  }
[data-theme='light'] .img-D{
  background-image: url("../assets/img/light-bg.svg");
}
homepagTitle {
  font-size: 4.5em;
  letter-spacing: 3px;
}
.homeMobileCont{
  position: absolute;
}