:root {
  --background-color: #fff;
  --text-color: #121416d8;
  --link-color: #543fd7;
}

html[data-theme='light'] {
  --background-color: #fff;
  --text-color: #121416d8;
  --link-color: #543fd7;
}

html[data-theme='dark'] {
  --background-color: #212a2e;
  --text-color: #F7F8F8;
  --link-color: #828fff;
}

body {
  background: var(--background-color);
  color: var(--text-color);
}

a {
  color: var(--link-color);
}

a:hover {
  text-decoration: underline;
  filter: brightness(80%);
}

[data-theme='dark'] .form-control {
  background-color: rgba(0, 0, 0, 0.6);
  border-color: rgba(0, 0, 0, 0.6);
  color: var(--text-color) !important;
}

[data-theme='dark'] .form-control:focus {
  color: var(--text-color) !important;
}
[data-theme='light'] .d-block-light,
[data-theme='dark'] .d-block-dark {
    display: block !important;
}

.img-D{
  background-image: url("../assets/img/dark-bg.svg");
  height: 100vh;
  background-repeat: no-repeat;
  z-index: -1;
  }