:root {
  --background-color: #fff;
  --text-color: #272C35;
  --sec-text-color:#314261;
  --link-color: #647697;
}

html[data-theme='light'] {
  --background-color: #fff;
  --text-color: #272C35;
  --link-color: #647697;
  --opacity-color: rgba(255,255,255,0.3);
  --opacity-color-hover: rgba(255,255,255,0.75);
}

html[data-theme='dark'] {
  --background-color: #212a2e;
  --text-color: #F7F8F8;
  --link-color: #828fff;
  --opacity-color: rgba(0,0,0,0.3);
  --opacity-color-hover: rgba(0,0,0,0.75);
}

body {
  background: var(--background-color);
  color: var(--text-color);
}

a {
  color: var(--link-color);
}

a:hover {
  text-decoration: underline;
  filter: brightness(80%);
}

[data-theme='dark'] .form-control {
  background-color: rgba(0, 0, 0, 0.6);
  border-color: rgba(0, 0, 0, 0.6);
  color: var(--text-color) !important;
}

[data-theme='dark'] .form-control:focus {
  color: var(--text-color) !important;
}
[data-theme='light'] .d-block-light,
[data-theme='dark'] .d-block-dark {
    display: block !important;
    color: var(--text-color);
}
.imgMoblieBG{
  height: calc(100vh - 4.5rem);
  z-index: -1;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 767px){
  [data-theme='dark'] .imgMoblieBG{
    background-image: none;
    height: auto;
    }
  [data-theme='light'] .imgMoblieBG{
    background-image: none;
    height: auto;
  }
}
@media (max-width: 768px){
  [data-theme='dark'] .imgMoblieBG{
    background-image: url("../assets/img/dark-bg.svg");
    
    }
  [data-theme='light'] .imgMoblieBG{
    background-image: url("../assets/img/light-bg.svg");
  }
}

.img-D{
  height: calc(100vh - 4.5rem);
  z-index: -1;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
[data-theme='dark'] .img-D{
  background-image: url("../assets/img/dark-bg.svg");
  
  }
[data-theme='light'] .img-D{
  background-image: url("../assets/img/light-bg.svg");
}
.logo{
  height: 2.5rem;
  width: 10rem;
  background-repeat: no-repeat;
}
[data-theme='dark'] .logo{
  background-image: url("../assets/img/dark-logo.svg");
  
  }
[data-theme='light'] .logo{
  background-image: url("../assets/img/light-logo.svg");
}
homepagTitle {
  font-size: 3.5em;
}
.homeMobileCont{
  position: absolute;
  top:0;
  width: 100%;
  overflow: hidden;
  margin-top: 33%;
  text-align: center;
}

/* NAVBAR */
.navbar {
  background-color: transparent !important;
  background: transparent !important;
}
.navbar-wrapper {
  background: rgba(0,0,0,0) !important;
}
.navbar-container{
  margin:0 9rem 0 9rem;
}
@media (min-width: 1400px){
.navbar-container{
  margin:0 20vw 0 20vw;
}
}
@media (min-width: 1199px) and (max-width: 1399px){
  .navbar-container{
    margin:0 15vw 0 15vw;
  }
}
@media (min-width: 991px) and (max-width: 1200px){
  .navbar-container{
    margin:0 6rem 0 6rem;
  }
}
@media (min-width: 767px) and (max-width: 992px){
  .navbar-container{
    margin:0 5rem 0 5rem;
  }
}
@media (min-width: 575px) and (max-width: 768px){
  .navbar-container{
    margin:0 4rem 0 4rem;
  }
}
@media (max-width: 576px){
  .navbar-container{
    margin:0 3rem 0 3rem;
  }
}
/* NAVBAR bootstap style change */
.navbar-brand{
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}
/* NAVBAR bootstap style change */
.navbar-expand-md {
  z-index: 99;
  
  padding: 0;
}
.navbar-expand-md .container .navbar-toggler {
  display: block;
}
/*
  background:linear-gradient(
    to bottom, 
    var(--background-color) 60%,
    rgba(0,0,0,0.2) 200px,
    var(--background-color) calc(100% - 500px) 30%,
    rgba(0,0,0,0.2) 115%
  ) !important;
  background:linear-gradient(
    to bottom, 
    var(--background-color) 60%,
    var(--opacity-color) 200px,
    var(--background-color) calc(100% - 500px) 30%,
    var(--opacity-color) 115%
  ) !important;
*/
.navbar-collapse {
  width: 100%;  
  background: var(--background-color);
  position: fixed;
  z-index: 9;
  display: block;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out;
}
@media (max-width: 576px){
  .navbar-collapse{
    overflow-y: scroll !important;
  }
}
.navbar-collapse ul.navbar-nav {
  margin-top: 7rem;
}
.navbar-collapse ul.navbar-nav li {
  opacity: 0;
  transition: opacity 0.4s cubic-bezier(0.58, 0.3, 0.005, 1);
  padding: 0;
  margin-bottom: 2em;
}
.navbar-collapse ul.navbar-nav li a {
  color: var(--text-color);
  font-size: 40px;
  padding: 0;
}
/*
.navbar-collapse ul.navbar-nav li div {
  color: var(--text-color);
  padding: 0;
}*/
.navbar-collapse.show {
  min-height: 100vh;
  visibility: visible;
  opacity: 1;
  z-index: 9;
}
.navbar-collapse.show ul li {
  opacity: 1;
}
.navbar-collapse.show ul li:nth-child(1) {
  transition-delay: 0.06s;
}
.navbar-collapse.show ul li:nth-child(2) {
  transition-delay: 0.12s;
}
.navbar-collapse.show ul li:nth-child(3) {
  transition-delay: 0.18s;
}
.navbar-collapse.show ul li:nth-child(4) {
  transition-delay: 0.24s;
}
.navbar-collapse.show ul li:nth-child(5) {
  transition-delay: 0.3s;
}
.navbar-collapse.show ul li:nth-child(6) {
  transition-delay: 0.36s;
}
.navbar-toggler {
  padding: 0;
}
.navbar-toggler #nav-icon {
  width: 30px;
  height: 25px;
  position: relative;
  margin: 0 auto;
  transform: rotate(0deg);
  cursor: pointer;
}
.navbar-toggler #nav-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 50%;
  background: var(--text-color);
  opacity: 1;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
.navbar-toggler[aria-expanded="false"] #nav-icon span:nth-child(even) {
  left: 50%;
}
.navbar-toggler[aria-expanded="false"] #nav-icon span:nth-child(odd) {
  left: 0px;
}
.navbar-toggler[aria-expanded="false"] #nav-icon span:nth-child(1), .navbar-toggler[aria-expanded="false"] #nav-icon span:nth-child(2) {
  top: 6px;
}
.navbar-toggler[aria-expanded="false"] #nav-icon span:nth-child(1), .navbar-toggler[aria-expanded="false"] #nav-icon span:nth-child(3){
border-top-left-radius:5px;
border-bottom-left-radius:5px;
}
.navbar-toggler[aria-expanded="false"] #nav-icon span:nth-child(2), .navbar-toggler[aria-expanded="false"] #nav-icon span:nth-child(4){
  border-top-right-radius:5px;
  border-bottom-right-radius:5px;
  }
.navbar-toggler[aria-expanded="false"] #nav-icon span:nth-child(3), .navbar-toggler[aria-expanded="false"] #nav-icon span:nth-child(4) {
  top: 16px;
}
.navbar-toggler[aria-expanded="true"] #nav-icon span:nth-child(1), .navbar-toggler[aria-expanded="true"] #nav-icon span:nth-child(4) {
  transform: rotate(45deg);
}
.navbar-toggler[aria-expanded="true"] #nav-icon span:nth-child(2), .navbar-toggler[aria-expanded="true"] #nav-icon span:nth-child(3) {
  transform: rotate(-45deg);
}
.navbar-toggler[aria-expanded="true"] #nav-icon span:nth-child(1) {
  left: 5px;
  top: 9px;
}
.navbar-toggler[aria-expanded="true"] #nav-icon span:nth-child(2) {
  left: calc(50% - 5px);
  top: 9px;
}
.navbar-toggler[aria-expanded="true"] #nav-icon span:nth-child(3) {
  left: 5px;
  top: 14px;
}
.navbar-toggler[aria-expanded="true"] #nav-icon span:nth-child(4) {
  left: calc(50% - 5px);
  top: 14px;
}

.nav-height{
  margin-top: 75px;
}
.backdrop-blur {
  backdrop-filter: blur(10px);
}
.backdrop-blur-none {
  background: var(--background-color) !important;
}
/* NAVBAR */
/* webDesign & business */
.webD {
  background-image: url("../assets/img/desginWeb.svg");
}
.webD-PC{
  height: calc(100vh - 4.5rem);
  width: 65vw;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: visible !important;
}
.webD-Mo{
  min-height: 288px;
  width: 100%;
  height: 35vh;
  padding:0;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden !important;
}
@media (min-width: 455px){
  .webD-Mo{
    height: 40vh;
  }}
  @media (min-width: 456px) and (max-width: 525px){
    .webD-Mo{
      height: 45vh;
    }}
    @media (min-width: 526px){
      .webD-Mo{
        height: 47vh;
      }}
.desginPageSet{
  position: absolute;
  width: 35vw;
  right: 0;
}
.businessD {
  background-image: url("../assets/img/desginBusiness.svg");
}
.businessD-Mo{
  min-height: 326px;
  width: 100%;
  height: 35vh;
  padding:0;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden !important;
}
.p-indent{
  text-indent:2em;
}
.le-space{
  letter-spacing: .1em;
}
.le-space-price{
  font-size: 1.25em;
  letter-spacing: .5em;
  text-decoration: none;
  color: var(--text-color);
}
.le-space-price:hover {
  text-decoration: none;
  color: var(--text-color);
}
.le-space-price:active {
  text-decoration: none;
  color: var(--text-color);
}


.webProcess{
  margin: 1em auto .5em auto;
  width: 50px;
  height: 50px;
  padding:0;
  background-repeat: no-repeat;
  background-size: cover;
}
.textProcess{
  font-size: .5em;
}
[data-theme='light'] .w-idea{
  background-image: url("../assets/img/dark-step/w-idea.svg");
}
[data-theme='light'] .w-fristDraft{
  background-image: url("../assets/img/dark-step/w-fristDraft.svg");
}
[data-theme='light'] .w-doIt{
  background-image: url("../assets/img/dark-step/w-doIt.svg");
}
[data-theme='light'] .w-maintain{
  background-image: url("../assets/img/dark-step/w-maintain.svg");
}
[data-theme='light'] .b-idea{
  background-image: url("../assets/img/dark-step/b-idea.svg");
}
[data-theme='light'] .b-fristDraft{
  background-image: url("../assets/img/dark-step/b-firstDraft.svg");
}
[data-theme='light'] .b-doIt{
  background-image: url("../assets/img/dark-step/b-doIt.svg");
}
[data-theme='light'] .b-done{
  background-image: url("../assets/img/dark-step/b-done.svg");
}
[data-theme='dark'] .w-idea{
  background-image: url("../assets/img/light-step/w-idea.svg");
}
[data-theme='dark'] .w-fristDraft{
  background-image: url("../assets/img/light-step/w-fristDraft.svg");
}
[data-theme='dark'] .w-doIt{
  background-image: url("../assets/img/light-step/w-doIt.svg");
}
[data-theme='dark'] .w-maintain{
  background-image: url("../assets/img/light-step/w-maintain.svg");
}
[data-theme='dark'] .b-idea{
  background-image: url("../assets/img/light-step/b-idea.svg");
}
[data-theme='dark'] .b-fristDraft{
  background-image: url("../assets/img/light-step/b-firstDraft.svg");
}
[data-theme='dark'] .b-doIt{
  background-image: url("../assets/img/light-step/b-doIt.svg");
}
[data-theme='dark'] .b-done{
  background-image: url("../assets/img/light-step/b-done.svg");
}
/* webDesign & business */
/* aboutUS */
.meb-pic-style{
  border-radius: 50%;
  border:5px solid #2064B4;
  background-color: var(--background-color);
}
.meb-pic-img{
  width: 30%;
  min-width: 100px;}
/* img closer */
.meb-special-position{
  position: absolute;
    top: 1vh;
    text-align: center;
}
/* img closer */
.aboutUsTitle{
  width: 5em;
  text-align: center;
  padding: 4px 2px;
  border-radius: 5px;
}
.autColor{
  background-color: #155E6B;
  color: #FFF;
}
.svsColor{
  background-color: #20B47F;
  color: #FFF;
}
/* aboutUS */
/* works */
/* masonryLayout */
:root {
  counter-reset: masonry;
}
.masonry {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
  grid-auto-rows: 0;
}
@media (max-width: 576px){
  .masonry {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(150px,1fr));
    grid-auto-rows: 0;
  }
}


.masonry-item {
   background-color: #eee;
   border-radius: 5px;
   overflow: hidden;
   cursor: pointer;
}

.masonry-item,
.masonry-item img {
   position: relative;
}
.masonry-item:hover .masonry-description-layer {
  transition: all .1s ease-in;
  visibility: visible;
  opacity: 1;
}

.masonry-description-layer{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--opacity-color-hover);
  color: var(--text-color);
  visibility: hidden;
  opacity: 0;
  display:flex;
  justify-content:center;
  align-items:center;
}

.masonry-item:hover .imasonry-description {
  transition: all .1s ease-in;
}

.masonry-description{
  transition: all .1s ease-in;
}
/*
.masonry-item:after {
  font-weight: bold;
  background-color: var(--opacity-color);
  content: counter(masonry);
  counter-increment: masonry;
  position: absolute;
  top: 0;
  left: 0; 
  height: 100%;
  width: 100%;
  color: var(--text-color);
  display: flex;
  justify-content: center; 
  align-items: center;
  transition: all .1s ease-in;
  text-indent:-9999px;
}

.masonry-item:hover:after {
  font-size: 30px;
  background-color: var(--opacity-color-hover);
  text-indent:unset;}
  */
/* masonryLayout */
/* works */
/* sourceShare */

.triangle{
  border-radius:4px;
}
.triangle-rb{
  display: block;
  top: 0;
  bottom: 0;
  width: 25px;
  height: 100%;
  background: #155E6B;
  -webkit-clip-path: polygon(-100% -100%, 0% 100%, 100% 0);
  clip-path: polygon(-100% -100%, 0% 100%, 100% 0);
}
.triangle-lt{
  display: block;
  top: 0;
  bottom: 0;
  left: 25px;
  height: 100%;
  background: #155E6B;
  -webkit-clip-path: polygon(100% 0,  0 100%, 100% 100%);
  clip-path: polygon(100% 0,  0 100%, 100% 100%);
}

.img-mask-1{
  left: 0px;
  top: 0px;
  position: absolute;
  height: 100%;
  width: 40%;
  border-color:  transparent transparent transparent #155E6B;
}
.img-mask-2{
  right: 0px;
  top: 0px;
  position: absolute;
  height: 100%;
  width: 30%;
  border-color: #155E6B transparent transparent  transparent ;
}
.shareHr{
  border: 2px solid #34BB8A;
  border-radius:10px;
  margin: 0.5rem 0;
  opacity: 1;
}
.shareBtn{
  background: #155E6B;
  color: #F7F8F8;
  border: 1px solid grey;
  height: auto;
  border-radius: 0 5px 5px 0;
}
.shareSearch input[type=text]{
  border: 1px solid grey;
  padding: .375rem .75rem;
  font-size: 1em;
  vertical-align:middle;
  border-radius: 5px 0 0 5px;

}
.badge-scrool-x button {
  display: inline-block;
  color: white;
  text-align: center;
  text-decoration: none;
}

.badge-scrool-x{
  overflow: auto;
  white-space: nowrap;
}
/* sourceShare */